/* Debug */
header {
    height: 70px;
    width: 100%;
    background-color: plum;
}

footer {
    height: 30px;
    background-color: yellow;
}
/* /Debug */

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

body {
    padding: 1% 15%;
    background-color: paleturquoise;
    font-family: 'Nerko One', cursive;
}

main {
    position: relative;
    margin: 0 auto;
}

header {
    text-transform: uppercase;
    line-height: 70px;
    text-align: center;
    color: white;
    font-size: 40px;
}

.box {
    float: left;
    height: 300px;
    width: 20%;
    border-radius: 10px;
    margin: 2.5%;
    background-image: url(../img/pattern.png);
    background-size: contain;

}

.second_row .box:nth-child(2) {
    background-image: url(../img/noun_air_balloon_3134741.png);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: top;
    background-color: white;
    color: #e61986;
}

footer {
    line-height: 30px;
    text-align: center;
    font-size: 12px;
}

.box-text {
    text-transform: uppercase;
    text-align: center;
    padding-top: 235px;
    font-size: 25px;
}